<!DOCTYPE html>
<html>
<head>
    <title>TTP API</title>
</head>
<body>
    <h1>TTP API Form</h1>
    <form method="POST" action="/keygen_ttp">
        <label>n: <input type="number" name="n" required></label><br>
        <label>t: <input type="number" name="t" required></label><br>
        <label>Threshold IDs (comma separated): 
            <input type="text" name="threshold_ids" required>
        </label><br>
        <label>IPs(comma separated): 
            <input type="text" name="ip" required>
        </label><br>
        <label>Ports (comma separated): 
            <input type="text" name="port" required>
        </label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>